{% extends 'base.html' %}

{% block title %}My Top 10 Movies{% endblock %}

{% block content %}
<div class="container">
  <h1 class="heading mt-5">My Top 10 Movies</h1>
  <p class="description">These are my all-time favourite movies.</p>
   
  {% for movie in movies %}
  <div class="card" >
    <div class="front" style="background-image: url('{{ movie[7] }}');">
        <p class="large">{{ movie[0] }}</p>
    </div>
    <div class="back">
      <div>
    <div class="title">{{ movie[1] }} <span class="release_date">({{ movie[2] }})</span></div>
        <div class="rating">
            <label>{{ movie[4] }}</label>
          <i class="fas fa-star star"></i>
        </div>
          <p class="review">"{{ movie[6] }}"</p>
        <p class="overview">
          {{ movie[3] }}
        </p>

        <a href="/edit/{{movie[0]}}" class="button">Update</a>
        <a href="#" class="button delete-button">Delete</a>

      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="container text-center add">
<a href="\add" class="button">Add Movie</a>
</div>

{% endblock %}